# Python
*.pyc
__pycache__/
*.pyo
*.pyd
env/
venv/

# Django
*.sqlite3
db.sqlite3
# /staticfiles/   <-- removed so it will be tracked
/media/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment variables
*.env
